{erl_opts, [debug_info]}.
{relx, [
        {release, {region_app, "1.0.0"},
         [region_app]},
        {include_erts, false},
        {sys_config, "release-files/sys.config"}
]}.
{profiles, [
            {prod, [
                      {relx, [
                              {include_src, false},
                              {include_erts, true}
                              ]}
                      ]}
]}.
{deps, [
        {lager, "2.1.1"},
        {jsx, "2.8.0"},
        {gproc, {git, "git://github.com/esl/gproc.git", {ref, "0.3"}}},
        {cowboy, {git, "git://github.com/extend/cowboy.git", {ref, "1.0.x"}}}

       ]}.
